body {
    font-family: papyrus, copperplate, fantasy;
    background-color: rgb(255, 196, 196);
}

.top-heading {
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    color: #333333;
}

h2 {
    font-weight: bold;
    font-size: 35px;
    color: #333333;
}

p, ul, ol {
    font-size: 18px;
    color: #333333;
}

ul li a {
    color: #008080;
}

.card-container {
    display: block;
    border: 2px hidden gray;
    text-align: center;
}

div {
    display: inline-block;
}

.recipe1, .recipe2, .recipe3 {
    padding: 20px 35px;
    border: 2px hidden black;
    border-radius: 5px;
    background-color: rgb(250, 209, 209);
}